* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #000;
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");
.App div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 7em;
  font-family: "Poppins", sans-serif;
}

.content {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
